@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Saira:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(114, 107, 104);
  scroll-behavior: smooth;
}
body {
  font-family: "saira", sans-serif;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: white;
  align-content: center;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Saira", sans-serif;
}
li {
  list-style-type: none;
}
/* ***********NAV**************** */
address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  position: fixed;
  width: 60%;
  font-family: "saira", sans-serif;
}
address a:first-child {
  background: rgba(58, 3, 3, 0.762);
  color: white;
  padding: 25px;
}
h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: 5px;
  padding-top: 20%;
  padding-bottom: 50px;
  font-size: 7.5rem;
  font-family: "oswald", sans-serif;
}
.ma-chambre {
  margin: 15px 0;
}
.ma-chambre img {
  width: 100%;
}
.maison {
  color: rgba(58, 3, 3, 0.762);
  text-transform: capitalize;
}
/* ********************SECTION 1******************* */

.presentation {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 450px;
  width: 100%;
  /* min-width: 150px; */
  margin-bottom: 40px;
}
.chaise {
  width: 30%;
  height: 450px;
  /* min-width: 150px; */
  background: #736b65;
  position: relative;
}
h2 {
  color: white;
  background-color: #4d2526;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
figcaption + img {
  width: 100%;
  display: block;
}
.presentation p {
  color: white;
  padding: 10px 0;
}
.plus-btn {
  /* display: block;
  float: right; */
  position: absolute;
  right: 0;
  bottom: -7px;

  /* left: 194px; */
  /* width: 100%; */
}
/* #mon-bureau {
  position: relative;
  top: 10px;
}
#mon-produit {
  position: relative;
  top: 11px;
}
#mes-services {
  position: relative;
  bottom: 7px;
} */

/* *******************SECTION 2************* */

#section-2 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 450px;
  width: 100%;
  min-width: 100px;
  overflow: hidden;
}
.service {
  width: 30%;
  min-width: 100px;
  min-height: 450px;
}
#read-more1 {
  position: relative;
}
#read-more2 {
  position: relative;
}
.h-3 {
  margin: 20px 0;
}
ul {
  list-style: url(../images/arrow.png);
}
ul li {
  margin: 15px 15px;

  /* text-indent: -5px; */
  /* padding-right: 10px; */
}
#item {
  text-wrap: left;
}
#section-2 p {
  margin: 15px 0;
}
strong {
  color: rgb(106 3 3);
}
button {
  padding: 10px 10px 15px 10px;
  background: rgb(69 65 65 / 90%);
  color: white;
  text-transform: capitalize;
  position: absolute;
  left: 0;
}

hr {
  border: 1px solid black;
  margin-bottom: 20px;
}
/* ***************FOOTER************************** */
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 20px 10px;
}
footer img {
  height: 20px;
  width: 20px;
  border-color: #736b65;
  opacity: 0.7;
}
footer img:hover {
  opacity: 1;
}
